{% extends "blog/base.html" %}
{% block reveal %} {% endblock %}
{% block header %} Reset Your password {% endblock %}


{% block content} 

{% if validlink %}
<p>Please enter your new password twice: </p>
<form method="POST" action=".">
    {% csrf_token %}
    {{form}}
    
    <p> <input type="submit" value="Change my password"> </p>
</form> 
{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset</p>
{% endif %} 
{% endblock%} 