{% load static %} 
<!DOCTYPE html>
<html>
<head>
     <title>Django blog</title>
     <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400">
     <link rel="stylesheet" href="{% static 'blog/styles.css' %} ">
</head>
<body>
 {% block header %}
    <header>
        <h1>WELCOME TO DJANGO BLOG. 
            <button> <a href="/register/">Sign up</a></button>
        <button><a href="/login/">Log in</a></button>
        </h1>
        </header>
        {% if user.is_authenticated %}
            <div class="greeting">
                <h3>Hi {{user.username}}!</h3>
            <button><a href="/logout/">LOG OUT</a></button>
            </div>
        {% else %}
        <div class="greeting">
            <h2>You are not logged in.</h2>
             
            
        </div>
        {% endif %} 
        {% endblock %}

        {% block reveal %} 
        <div class="nav-left">
            <h1><a href="/post/"> Click to see all blog posts. </a></h1> 

            
        </div>
        {% endblock %}
    

    
        
            {% block content %}
            {% endblock %}
        
</body>
</html>