{% extends 'blog/base.html' %}

{% block reveal %} {% endblock %}

{% block header %} {% endblock %}

{% block content %}
    <div class="post-entry" style="box-shadow: 5px 5px 5px blue;">
        <h2>{{ posts.title }}</h2>
        <p>{{posts.body}}</p>
<hr>
        <div style="margin-top: 100px;">
            <h2>Comments.....</h2>
            <button><a href="/post/{{posts.pk}}/comment">Add comment</a></button> <br>
            {% if not post.comments.all %} 
                No Comments Yet.
            {% else %} 
                    {% for comment in post.comments.all %} 
                        <strong>
                            {{ comment.name}} - {{comment.date_added}}
                        </strong>
                        <br>
                        {{comment.body}}
                    {% endfor %}
            {% endif %} 
                    
                
        </div>
    </div>
    <div class="btns">
        <button><a href="/post/{{posts.id}}/edit">Edit post</a> </button>
        <button><a href="/post/{{posts.id}}/delete">Delete post</a> </button>
        <button><a href="/post/">Go back</a> </button>
    </div>
{%  endblock %}